//Created by johnstrobe 8/08/16

include ../node_modules/jade-bootstrap/_bootstrap
block head
    link(rel = "stylesheet", href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
    script(type = "text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(type = "text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")

append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
block body
    .row
        include navBar
    .col-md-3
        br
        br
        br
        form.centerAdd(action="/advancedSearch",method="get",id="form1" )
            h6 Keywords
            input(class="form-control",type="text", name = "keywords", form="form1", value = ("#{previouskeywords}"==="undefined" ? "" : "#{previouskeywords}"))
            h6 Item Found Date Range
            script.
                $(document).ready(function () {
                    $("#from").datepicker({dateFormat: "dd-mm-yy"});
                    $("#to").datepicker({dateFormat: "dd-mm-yy"});
                });
            h6 From  (use format dd-mm-yy)
            input(class="form-control",type="text", name = "from", form="form1", id ="from", value = ("#{previousfrom}"==="undefined" ? "" : "#{previousfrom}"))
            h6 To   (use format dd-mm-yy)
            input(class="form-control",type="text", name = "to", form="form1", id ="to",value = ("#{previousto}"==="undefined" ? "" : "#{previousto}"))
            h6 Category Filter
            select(class="form-control",name="category" form="form1")
                option(value=previousCategory, selected = previousCategory) #{previousCategory}
                each category in categories
                    option(value='#{category.category}') #{category.category}
            h6 Campus Filter
            select(class="form-control",name="campus" form="form1")
                each location in campus
                    option(value='#{location.campus}') #{location.campus}

            h6 Include returned/discarded items?
            input(class="form-control",name ="includereturned", type = "checkbox",id="includereturned", form="form1", checked = ("#{previouschecked}"==='on' ? 'on' : undefined))

            input.btn.btn-success(type="submit" form="form1" value="search")

            br
            br
            br
    .col-md-1
    .col-md-4
        br
        br
        br
        h5 Results
        if(results != null)
            each result in results
                div(class="resultbox")
                    .panel.panel-success
                        .panel-heading
                            a(href = '/viewitem?itemid=#{result.itemid} ', name='link') #{result.itemid}. #{result.title}
                        .media
                            .media-body
                                    a(href = '/viewitem?itemid=#{result.itemid} ', name='link') #{result.description}
                            .media-left
                                if (result.photourl == '' || result.photourl == null) /* If there is no image for the item */
                                    img.media-object(src="images/defaultImg.png" style="width:50px")
                                else
                                    img.media-object(src='#{result.photourl}' style="width:50px")
        br
        br
        br
        br
    include footer
